<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appdiemdanh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Điểm Danh Hutech"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDiemDanh">
        <activity
            android:name=".JoinClass"
            android:exported="false" />
        <activity
            android:name=".OptionAdd"
            android:exported="false" />
        <activity
            android:name=".data.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SV_InfoClassActivity"
            android:exported="false" />
        <activity
            android:name=".GV_InfoClassActivity"
            android:exported="false" />
        <activity
            android:name=".CreateClassActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ClassActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Splasht">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>